rules_version = '2';
service cloud.firestore {

  match /databases/{database}/documents {
    match /campaigns/{campaign} {
    
   		function isSignedIn() {
      	return request.auth != null;
      }
      
      function isOwner(rsc) {
      	return rsc.data.owner == request.auth.token.email;
      }
      
      function isPlayer(rsc) {
      	return request.auth.token.email in rsc.data.players;
      }
      
    	function isValidNewCampaign() {
        return resource == null && isOwner(request.resource);
      }
    
    	allow write: if isSignedIn() && (isValidNewCampaign() || isOwner(resource));
      allow read: if isSignedIn() && (isPlayer(resource) || isOwner(resource));
    }
  }
}